<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Pitágoras</title>
</head>
<body>
    <h1>Pitágoras Calculadora</h1>
    <form action="/api" method="POST">
        <input type="number" name="num1">
        <input type="number" name="num2">
        <input type="submit" name="Calcular" id="cal_btn">
    </form>
    <h1>{{ result }}</h1>
   

</body>
</html>